
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<table align="center" class="table table-bordered">
    <tr>
        <td>Name:</td>
        <td>Abdullah Al Alid</td>
    </tr>
    <tr>
        <td>Father's name:</td>
        <td>Md. Robiul Islam</td>
    </tr>
    <tr>
        <td>Mother's name:</td>
        <td>Mrs. Rina Yeasmin</td>
    </tr>
    <tr>
        <td>Religion:</td>
        <td>Islam</td>
    </tr>
    <tr>
        <td>Nationality:</td>
        <td>Bangladeshi</td>
    </tr>
    <tr>
        <td>Blood group:</td>
        <td>B positive</td>
    </tr>
</table>
