
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table class="table table-bordered">
    <tr>
        <th align="center">Certification</th>
        <th align="center">Institution</th>
        <th align="center">Academic year</th>
        <th align="center">Result</th>
    </tr>
    <tr>
        <td align="center">Bsc, CSE</td>
        <td align="center">American International University, Bangladesh</td>
        <td align="center">2019-2022</td>
        <td align="center">3.88(on the scale of 4)</td>
    </tr>
    <tr>
        <td align="center">HSC</td>
        <td align="center">Khulna Public college</td>
        <td align="center">2015-2017</td>
        <td align="center">4.50(on the scale of 5)</td>
    </tr>
    <tr>
        <td align="center">SSC</td>
        <td align="center">Khulna Public College</td>
        <td align="center">2013-2015</td>
        <td align="center">5.00(on the scale of 5)</td>
    </tr>

</table>
