
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<table class="table table-bordered">
    <tr>
        <th>Course</th>
        <th>Project Description</th>

    </tr>
    <tr>
        <td align="center">Java</td>
        <td align="center">Bank Management System</td>

    </tr>
    <tr>
        <td align="center">C#</td>
        <td align="center">Hospital Management System</td>

    </tr>
    <tr>
        <td align="center">php</td>
        <td align="center">Doctor's Appointment Time Booking System.</td>

    </tr>
</table>
