
@{
    ViewBag.Title = "References";
}

<h2>References</h2>

<table align="center">
    <tr>
        <td>
            Tanvir Ahmed<br />
            Lecturer, American International University, Bangladesh<br />
            tanvir.ahmed@aiub.edu
        </td>
    </tr>
</table>